.app-list-modal{
  position: absolute;
  width: 300px;
  height: 200px;
  border: 1px solid #333;
  background: #ffffff;
  z-index: 9;
  left: 40%;
  top: 10%;
}
.app-list-modal-backdrop{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  z-index: 8;
}
.app-list-modal .header{
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px;
  height: 30px;
}

.app-list-modal .header h4{
  font-size: 17px;
  margin: 0;
}

.app-list-modal .header i{
  position: absolute;
  right: 5px;
  top: 4px;
  border: 1px solid #333;
  padding: 3px;
  /* border-radius: 65%; */
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: center;
  line-height: 14px;
  background: #fff;
  cursor: pointer;
}

.app-list-modal .content{
  height: 170px;
  overflow: auto;
}

.app-list-modal .content li{
  cursor: pointer;
  padding: 0 10px;
}
.app-list-modal .content li:hover{
  background-color: #eaeaea;
}
